:root {
  --light-gray: #D4D4D2;
  --eerie-black: #1C1C1C;
  --dark-liver: #505050;
  --vivid-gamboge: #FF9500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: auto;
  height: 100vh;
  background: var(--eerie-black);
}

body {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  border-radius: 50%;
  height: 80px;
  min-width: 80px;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

#calculator {
  height: fit-content;
  width: fit-content;
  margin: auto;
  color: var(--light-gray);
}

#screen {
  max-width: 350px;
  margin: auto;
  padding: 0 16px 16px;
}
#smaller-text {
  color: var(--dark-liver);
  height: 32px;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
#bigger-text {
  height: 64px;
  font-size: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

#buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  width: fit-content;
}
button[data-key="AC"] {
  grid-area: 1 / 1;
}
button[data-key="C"] {
  grid-area: 1 / 2;
}
button[data-key="%"] {
  grid-area: 1 / 3;
}
button[data-key="÷"] {
  grid-area: 1 / 4;
}
button[data-key="7"] {
  grid-area: 2 / 1;
}
button[data-key="8"] {
  grid-area: 2 / 2;
}
button[data-key="9"] {
  grid-area: 2 / 3;
}
button[data-key="x"] {
  grid-area: 2 / 4;
}
button[data-key="4"] {
  grid-area: 3 / 1;
}
button[data-key="5"] {
  grid-area: 3 / 2;
}
button[data-key="6"] {
  grid-area: 3 / 3;
}
button[data-key="-"] {
  grid-area: 3 / 4;
}
button[data-key="1"] {
  grid-area: 4 / 1;
}
button[data-key="2"] {
  grid-area: 4 / 2;
}
button[data-key="3"] {
  grid-area: 4 / 3;
}
button[data-key="+"] {
  grid-area: 4 / 4;
}
button[data-key="0"] {
  grid-area: 5 / 1 / 5 / 3;
  border-radius: 50px;
  text-align: left;
  padding: 0 32px;
}
button[data-key="."] {
  grid-area: 5 / 3;
}
button[data-key="="] {
  grid-area: 5 / 4;
}
button.number, button.decimal {
  background: var(--dark-liver);
}
button.reset, button.delete, button.percent {
  background: var(--light-gray);
  color: var(--eerie-black);
}
button.divide, button.subtract, button.add, button.multiply, button.equal {
  background: var(--vivid-gamboge);
}

#bar-container {
  height: 64px;
  display: flex;
  align-items: flex-end;
}
#bar {
  border: solid 2px var(--light-gray);
  width: 150px;
  border-radius: 50px;
  margin: auto;
  position: relative;
  bottom: -16px;
}

@media (max-width: 370px) {
  button {
    min-width: 64px;
    height: 64px;
  }
}